.card-container {
  padding: 0;

  &__card {
    margin-bottom: 30px;
    min-height: 100px;
    text-align: center;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: rgba(0,0,0,0.05);
    }
  }
}
