$sw-yellow: #ffd509;

body {
  background: rgba(0,0,0,0.05);
  min-height: 100vh;
}

.swa {
  @import 'common/Header';
  @import 'common/SpinnerContainer';
  @import 'common/ErrorContainer';
  @import 'navbar/NavBar';
  @import 'navbar/Search';
  @import 'dashboard/Dashboard';
  @import 'listing/CardContainer';
  @import 'listing/PaginationContainer';
}
